<!DOCTYPE html>
<html>
<head>
  <title>Pollster</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= render 'layouts/flash_messages' %>

<div class="container">
  <div class="row">
    <div class="span12">

    <h1 id="title">Pollsta</h1>

    <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
